In [70]:
import warnings
import itertools
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [71]:
data = sm.datasets.co2.load_pandas()
y = data.data

In [72]:
y.head()

              co2
1958-03-29  316.1
1958-04-05  317.3
1958-04-12  317.6
1958-04-19  317.5
1958-04-26  316.4

In [73]:
df = pd.read_csv('n26_v1.csv')
df.head()

,Unnamed: 0,userid,cpc,organic,affiliate,social,signup_date,campaign
0,0,e0912256-b48a-45c0-afec-23350d341abd,1,0,0,1,2017-02-01,0
1,1,321c18f1-c58e-488d-a60a-462dfc9d38aa,1,0,1,0,2017-01-10,0
2,2,3d03c163-d14b-49da-873a-a54cc3b400e3,0,0,1,1,2017-03-24,0
3,3,3acb5a84-4375-405b-9a8b-bfb8979ab9bc,1,0,0,0,2017-03-06,0
4,4,1b488764-6874-4483-8e70-815feb07b154,1,0,0,0,2017-03-03,0

In [74]:
df1=df.groupby('signup_date').count()

In [75]:
df2=df1['campaign']

In [76]:
df2.to_frame()

             campaign
signup_date
2017-01-01         67
2017-01-02         56
2017-01-03         47
2017-01-04         54
2017-01-05         50
2017-01-06         57
2017-01-07         54
2017-01-08         60
2017-01-09         59
2017-01-10         61
2017-01-11         52
2017-01-12         55
2017-01-13         56
2017-01-14         51
2017-01-15         61
2017-01-16         48
2017-01-17         51
2017-01-18         58
2017-01-19         58
2017-01-20         46
2017-01-21         54
2017-01-22         54
2017-01-23         45
2017-01-24         72
2017-01-25         54
2017-01-26         37
2017-01-27         56
2017-01-28         52
2017-01-29         46
2017-01-30         54
...               ...
2017-03-03         37
2017-03-04         54
2017-03-05         69
2017-03-06         50
2017-03-07         45
2017-03-08         42
2017-03-09         76
2017-03-10         59
2017-03-11         60
2017-03-12         52
2017-03-13         54
2017-03-14         69
2017-03-15         59
2017-03-16         54
2017-03-17         58
2017-03-18         57
2017-03-19         63
2017-03-20         52
2017-03-21         50
2017-03-22         58
2017-03-23         57
2017-03-24         49
2017-03-25         54
2017-03-26         71
2017-03-27         55
2017-03-28         38
2017-03-29         62
2017-03-30         60
2017-03-31         57
2017-04-01         55

[91 rows x 1 columns]

In [77]:
del df2.index.name

In [78]:
df3=df2.to_frame()

In [79]:
df3.head()

            campaign
2017-01-01        67
2017-01-02        56
2017-01-03        47
2017-01-04        54
2017-01-05        50

In [80]:
# The 'MS' string groups the data in buckets by start of the month
y = y['co2'].resample('MS').mean()

# The term bfill means that we use the value before filling in missing values
y = y.fillna(y.bfill())

print(y)

1958-03-01    316.100000
1958-04-01    317.200000
1958-05-01    317.433333
1958-06-01    315.625000
1958-07-01    315.625000
1958-08-01    314.950000
1958-09-01    313.500000
1958-10-01    313.425000
1958-11-01    313.425000
1958-12-01    314.700000
1959-01-01    315.500000
1959-02-01    316.700000
1959-03-01    316.733333
1959-04-01    317.675000
1959-05-01    318.325000
1959-06-01    318.025000
1959-07-01    316.525000
1959-08-01    314.900000
1959-09-01    313.825000
1959-10-01    313.400000
1959-11-01    314.875000
1959-12-01    315.525000
1960-01-01    316.380000
1960-02-01    316.975000
1960-03-01    317.575000
1960-04-01    319.120000
1960-05-01    319.925000
1960-06-01    319.450000
1960-07-01    318.060000
1960-08-01    315.775000
                 ...
1999-07-01    369.000000
1999-08-01    366.700000
1999-09-01    364.675000
1999-10-01    365.140000
1999-11-01    366.650000
1999-12-01    367.900000
2000-01-01    369.020000
2000-02-01    369.375000
2000-03-01    370.400000
2000-04-01    371.540000
2000-05-01    371.650000
2000-06-01    371.625000
2000-07-01    369.940000
2000-08-01    367.950000
2000-09-01    366.540000
2000-10-01    366.725000
2000-11-01    368.125000
2000-12-01    369.440000
2001-01-01    370.175000
2001-02-01    371.325000
2001-03-01    372.060000
2001-04-01    372.775000
2001-05-01    373.800000
2001-06-01    373.060000
2001-07-01    371.300000
2001-08-01    369.425000
2001-09-01    367.880000
2001-10-01    368.050000
2001-11-01    369.375000
2001-12-01    371.020000
Freq: MS, Name: co2, Length: 526, dtype: float64

In [83]:
#df3.index = pd.to_datetime(df3.index, unit='s')
df3=pd.to_datetime(df3['time'])

KeyError: 'time'

In [81]:
# The 'MS' string groups the data in buckets by start of the month
df3 = df3['campaign'].resample('MS').mean()

# The term bfill means that we use the value before filling in missing values
df3 = df3.fillna(df3.bfill())

print(df3)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'